.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.cell.marks::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: green;
    opacity: 30%;
}
.cell > * {
    position: absolute;
    display: block;
}