body {
  background-color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
}

body > div {
  box-shadow: 0 0  5px #333;
}
